.authenticationMainContainer{
    background-color: white;
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    font-family: Roboto;
    position: static;
}

.authenticationContainer{
    box-shadow: #282c34;
    margin: auto;
    height: 50vh;
    width: 40vw;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}